@page
@model Web.Pages.Lab.Index

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div class="text-center">
    <h1 class="display-4">Under Development ...</h1>
</div>
</body>
</html>